<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vs.dao.VideoDao">
    <select id="getVideoById" resultType="com.vs.entity.Video" parameterType="int">
        select * from video where id = #{id}
    </select>

    <select id="getFirst10Video" resultType="com.vs.entity.Video">
        select * from video WHERE 1=1 limit 10
    </select>

    <select id="getAllVideo" resultType="com.vs.entity.Video">
        select * from video
    </select>

    <delete id="deleteVideoById" parameterType="int">
        DELETE FROM video WHERE id=#{id}
    </delete>

    <insert id="insertVideoById" parameterType="com.vs.entity.Video">
        INSERT INTO video (prefix, suffix, name, size,address) VALUES (#{prefix},#{suffix},#{name},#{size},#{address})
    </insert>

    <select id="getAddressByName" parameterType="String" resultType="java.lang.String">
        SELECT address FROM video WHERE name=#{name}
    </select>

</mapper>